a {
    text-decoration: none;
    margin: .5rem;
    transition: all .3s ease;
    color: black;
}

.sideBar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgb(215, 215, 215);
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

a:hover {
    color: green !important;
}