


.search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    margin-left: 20px;
}

.search-bar input[type="text"] {
    padding: 5px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-bar button {
    padding: 5px 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.search-bar button:focus {
    outline: none;
}

.search-bar button:hover,
.search-bar button:focus {
    background-color: #006600;
    transform: scale(1.1);
}

.price-filter {
    align-self: flex-start;
    padding-top: 20px;
}

.search-filter-container {
    display: flex;
    flex-direction: column;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.product {
    border: 1px solid green;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    color: #333;
    margin-bottom: 20px;
}

.product:hover {
    border-color: green;
    background-color: #f0f8ff;

    transform: scale(1.05);

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product img {
    width: 100%;
    object-fit: contain;
    margin-bottom: 10px;
    border-radius: 5px;
    height: 200px;
}

.left-column {
    width: 30%;
    float: left;
    padding: 10px;
}

.right-column {
    width: 70%;
    float: left;
    padding: 10px;
}

.sort-options-container {
    position: relative;
    display: inline-block;
}

.sort-button {
    background-color: green;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.sort-button:hover {
    background-color: #006600;
    transform: scale(1.05);
}

.sort-options-list {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    z-index: 1;
}

.sort-options-list li {
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sort-options-list li:hover {
    background-color: #f2f2f2;
}

.sort-options-container:hover .sort-options-list {
    display: block;
}

.view-more-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.view-more-button:hover {
    background-color: #006600;
}



.product-list-container {
    position: relative;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
}

.pagination .page-item {
    margin: 0 5px;
}

.pagination .page-link {
    border: 1px solid green;
    background-color: #fff;
    color: green;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.pagination .page-link:hover {
    background-color: #006600;
    color: #fff;
    transform: scale(1.2);
}

.pagination .page-item.active .page-link {
    background-color: green;
    color: #fff;
    border-color: green;
}

.pagination .page-link[disabled] {
    color: #ccc;
    cursor: default;
    background-color: #f8f9fa;
    border-color: #ddd;
}


.search-sort-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-right: 20px;
}


#range-slider {
    font-weight: bold;
    color: green;
    margin-bottom: 20px;
    font-size: 1.2rem;
    text-align: center;
}

.MuiSlider-root {
    color: #00695c;
}


.price-input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.price-input label {
    margin-right: 10px;
}

.price-input input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.slider-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.Slider {
    flex-grow: 1;
    margin-right: 20px;
}

.search-button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: darkgreen;
    transform: scale(1.2);
}

.search-button .fa-search {
    color: inherit;
    font-size: 20px;
}

.input-container {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.input-container input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 30px 5px 5px;
    width: 100%;
}

.input-container .unit {
    /*position: absolute;*/
    right: 5px;
    color: #555;
}



