/* CSS cho admin-container */
.admin-container {
  display: flex; /* Sử dụng flexbox để chia sidebar và nội dung */
}

/* CSS cho nội dung */
.content {
  flex: 1; /* Nội dung sẽ mở rộng để lấp đầy không gian trống */
  padding: 20px; /* Khoảng cách lề bên trong nội dung */
}
