.data-container {
  background-color: #fff;
  margin: 10px 0;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}

.data-container:hover {
  background-color: aqua;
  cursor: pointer;
}

.icon-statistic {
  text-align: center;
}

.data-statistic {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-statistic > i {
    font-size: 2rem;
}
