body {
    background-color: #ffffff; /* Thay đổi màu nền thành trắng */
    color: #333333; /* Thay đổi màu chữ thành màu đậm hơn để dễ đọc */
    font-family: 'Arial', sans-serif;
}

.book-detail-container {
    display: flex;
    max-width: 1200px;
    margin: 40px auto;
    background: #f0f0f0; /* Thay đổi màu nền của container */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    padding: 20px;
}

.book-detail-image-and-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.book-detail-image img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.book-detail-info {
    text-align: center;
}

.book-detail-info h1 {
    margin: 0;
    color: #333333;
    font-size: 24px;
}

.book-detail-info .price {
    margin-top: 10px;
    color: #333333;
    font-weight: bold;
}

/* Phần mô tả sản phẩm */
.description {
    flex: 2;
    border-left: 1px solid #ccc; /* Thay đổi màu viền ngăn cách thành màu xám nhạt */
    padding-left: 20px;
    margin-left: 20px;
    color: #333333; /* Thay đổi màu chữ của mô tả sản phẩm thành màu đậm hơn để dễ đọc */
}

/* Button thêm vào giỏ hàng */
.add-to-cart button {
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.add-to-cart button:hover {
    background-color: #006600;
}

/* Responsive design */
@media (max-width: 768px) {
    .book-detail-container {
        flex-direction: column;
    }

    .description {
        border-left: none;
        padding-left: 0;
        margin-left: 0;
        margin-top: 20px;
    }
}

.book-detail-info h1,
.book-detail-info .price,
.book-detail-info .author,
.book-detail-info .publication-year,
.book-detail-info .genre,
.book-detail-info .reviews-count {
    color: #333333;
    margin: 0px;
}

.quantity-controls button {
    padding: 8px;
    margin: 5px 10px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
}

.quantity-controls button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.quantity-controls span {
    font-size: 1.2em;
}